
<nav id="navbar" class="navbar">
    <ul>
        <li>
            <a class="nav-link {% block active_home %}{% endblock %}" href="{{ path('home') }}">
                My WebSite
            </a>
        </li>

        <li>
            <a class="nav-link {% block active_customer %}{% endblock %}" href="{{ path('home') }}">
                Menu 1
            </a>
            <div class="nav-menu">
                <a href="#" class="nav-menu-item">
                    Sub menu 1
                </a>
                <a href="#" class="nav-menu-item">
                    Sub menu 2
                </a>
                <a href="#" class="nav-menu-item">
                    Sub menu 3
                </a>
            </div>
        </li>

        <li>
            <a class="nav-link {% block active_blog %}{% endblock %}" href="{{ url('blog_home') }}">
                Blog
            </a>
            <div class="nav-menu" style="max-height: 300px;overflow-y: auto">
                {% for parent_category in parent_blog_categories() %}
                    {% if parent_category.articleCategories|length != 0 %}
                        <a href="{{ url('digital_blog_article_by_category', { category_id: parent_category.uniqKey, category_name: parent_category.categoryName }) }}" class="nav-menu-item">
                            {{ parent_category.categoryName }}
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </li>
    </ul>
    <i class="bi bi-list mobile-nav-toggle"></i>
</nav><!-- .navbar -->