{% extends '@DigitalBlog/parts/layout.html.twig' %}

{% block page_title %}
    Blog - Reset password | UKUZI
{% endblock %}

{% block active_blog %}active{% endblock %}

{% block content %}

    <section id="animated-bg" class="background pt-5">

        <div class="row py-5 my-5 justify-content-center">

            <div class="cube_bg"></div>
            <div class="cube_bg"></div>
            <div class="cube_bg"></div>
            <div class="cube_bg"></div>
            <div class="cube_bg"></div>

            <div class="px-4 d-block" style="min-width: 420px;height: 120vh;">
                <div class="card bg-white shadow-sm border-0 pb-4">
                    <div class="card-title pb-2">
                        <div class="text-center mt-5">
                            <h1 class="h3 text-theme-primary">{{ "Réinitialiser mot de passe"|trans }}</h1>
                        </div>
                    </div>
                    <div class="card-body px-lg-5">
                        <form role="form" action="{{ url('digital_blog_reset_password') }}" method="post" class="ajax_form">

                            <input type="hidden" name="token" id="token" value="{{ token }}">

                            <div class="form-group py-2">
                                <input class="form-control pl-2" required placeholder="0000" name="code"
                                       type="tel">
                            </div>

                            <div class="form-group py-1">
                                <input class="form-control pl-2" required placeholder="{{ 'Mot de passe'|trans }}" name="password"
                                       type="password">
                            </div>

                            <div class="form-group py-1">
                                <input class="form-control pl-2" required placeholder="{{ 'Ressaisir le mot de passe'|trans }}" name="password_retype"
                                       type="password">
                            </div>

                            <div class="pt-1">
                                <a href="{{ url('digital_blog_login') }}"
                                   class="small text-theme-secondary ml-auto">
                                    <i class="fas fa-question-circle"></i>
                                    {{ "Mot de passe retrouvé"|trans }}
                                </a>
                            </div>

                            <div class="text-center">
                                <div class="form-response"></div>
                                <button type="submit" class="btn btn-outline-theme-primary my mt-4 btn-submit">
                                    Envoyer le code
                                </button>
                                <div class="loader mx-auto my-3 d-none"></div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <style>

        /* ============= Animation background ========= */
        #animated-bg {
            background: linear-gradient(132deg, var(--theme-primary), var(--theme-termary), #212335);
            background-size: 400% 400%;
            animation: Gradient 15s ease infinite;
            position: relative;
            min-height: 100vh;
            height: auto;
            width: 100%;
            overflow: hidden;
            padding: 0;
            margin: 0;
        }

        .cube_bg {
            position: absolute;
            top: 80vh;
            left: 45vw;
            width: 10px;
            height: 10px;
            border: solid 1px #D7D4E4;
            transform-origin: top left;
            transform: scale(0) rotate(0deg) translate(-50%, -50%);
            animation: cube_bg 12s ease-in forwards infinite;
        }

        .cube_bg:nth-child(2n) {
            border-color: #FFF;
        }

        .cube_bg:nth-child(2) {
            animation-delay: 2s;
            left: 25vw;
            top: 40vh;
        }

        .cube_bg:nth-child(3) {
            animation-delay: 4s;
            left: 75vw;
            top: 50vh;
        }

        .cube_bg:nth-child(4) {
            animation-delay: 6s;
            left: 90vw;
            top: 10vh;
        }

        .cube_bg:nth-child(5) {
            animation-delay: 8s;
            left: 10vw;
            top: 85vh;
        }

        .cube_bg:nth-child(6) {
            animation-delay: 10s;
            left: 50vw;
            top: 10vh;
        }

        /* Animate Background*/
        @keyframes Gradient {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
        }

        @keyframes cube_bg {
            from {
                transform: scale(0) rotate(0deg) translate(-50%, -50%);
                opacity: 1;
            }
            to {
                transform: scale(30) rotate(960deg) translate(-50%, -50%);
                opacity: 0;
            }
        }
    </style>

{% endblock %}
