{% extends '@DigitalBlog/parts/back_layout.html.twig' %}

{% block previous_url %}{{ url('admin_home') }}{% endblock previous_url %}

{% block current_page %}Blog - Articles{% endblock current_page %}

{% block top_action_link %} {{ url('digital_blog_article_edit', {article_id: 'new'}) }} {% endblock top_action_link %}

{% block top_action_link_mode %}normal{% endblock top_action_link_mode %}

{% block blog_articles_active %}active{% endblock %}
{% block blog_active %}active{% endblock %}

{% block page_title %}Offers - Admin | Blog{% endblock %}

{% block content %}

    <div class="row mt--6">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    <h3 class="mb-0">Liste des articles</h3>
                </div>
                <!-- Light table -->
                <div class="table-responsive">
                    <table class="table align-items-center table-flush datatable">
                        <thead class="thead-light">
                        <tr>
                            <th style="max-width: 15px;">N°</th>
                            <th scope="col" class="sort">image</th>
                            <th scope="col" class="sort">Titre</th>
                            <th scope="col" class="sort">Auteur</th>
                            <th scope="col" class="sort">Statut</th>
                            <th scope="col" class="sort">Comments</th>
                            <th scope="col" class="sort">Date Modif.</th>
                            <th scope="col" class="text-right">Actions</th>
                        </tr>
                        </thead>
                        <tbody class="list">
                        {% for k,article in articles %}
                            <tr>
                                <td style="max-width: 15px;">{{ k+1 }}</td>
                                <th class="text-left col-4">
                                    {{ article.preview }}
                                </th>
                                <th class="text-left col-4">
                                    {{ article.title }}
                                </th>
                                <th class="col-2">
                                    {% if article.author %}
                                        {{ article.author.name }}
                                    {% else %}
                                        ...
                                    {% endif %}
                                </th>
                                <td class="col-2">
                                    {{ article.status }}
                                </td>
                                <th class="col-2">
                                    {{ article.comments|length }}
                                </th>
                                <td class="col">
                                    {{ article.updatedAt|date('Y-m-d H:i') }}
                                </td>
                                <td class="text-right">
                                    <div class="dropdown">
                                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button"
                                           data-toggle="dropdown"
                                           aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" href="{{ url('digital_blog_article_edit', {article_id: article.uniqKey}) }}">Modifier</a>
                                            <a class="dropdown-item ajax_link" href="{{ url('digital_blog_article_delete_form', {article_id: article.uniqKey}) }}">Supprimer</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}